<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{{ site.name }} | Connexion</title>

    <link rel="icon" type="image/png" href="/dist/img/favicon.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">{{ site.nameStylish }}</div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <b>Entrez vos identifiants Blih Epitech</b>
                <br /><br />
                Les identifiants ne nous sont pas envoyées à des fins machiavéliques, mais sont simplements stockés
                sur votre PC en local pour les utiliser avec blih.
            </p>

            <div id="message"></div>
            <form id="blih_login" method="post">
                <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder="Email @epitech.eu">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" /><span style="margin-left:10px;">Se souvenir de moi</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Suivant</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="/dist/js/utils/alerts.js" type="text/javascript"></script>
<script src="/dist/js/utils/fields.js" type="text/javascript"></script>
<script src="/dist/js/utils/jQuery.ext.js" type="text/javascript"></script>
<script src="/dist/js/login.js" type="text/javascript"></script>

</html>
